@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9461 0 0);
  --foreground: oklch(0.3485 0 0);
  --card: oklch(0.9462 0.0107 291.9479);
  --card-foreground: oklch(0.3485 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3485 0 0);
  --primary: oklch(0.4891 0 0);
  --primary-foreground: oklch(0.9551 0 0);
  --secondary: oklch(0.9006 0 0);
  --secondary-foreground: oklch(0.3485 0 0);
  --muted: oklch(0.9158 0 0);
  --muted-foreground: oklch(0.4313 0 0);
  --accent: oklch(0.5099 0.1307 9.8128);
  --accent-foreground: oklch(0.2592 0.0266 334.7047);
  --destructive: oklch(0.6143 0.2499 27.2045);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8736 0.0027 286.3433);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.7058 0 0);
  --chart-1: oklch(0.3211 0 0);
  --chart-2: oklch(0.4495 0 0);
  --chart-3: oklch(0.5693 0 0);
  --chart-4: oklch(0.6830 0 0);
  --chart-5: oklch(0.7921 0 0);
  --sidebar: oklch(0.9551 0 0);
  --sidebar-foreground: oklch(0.3485 0 0);
  --sidebar-primary: oklch(0.4891 0 0);
  --sidebar-primary-foreground: oklch(0.9551 0 0);
  --sidebar-accent: oklch(0.5099 0.1307 9.8128);
  --sidebar-accent-foreground: oklch(0.2592 0.0266 334.7047);
  --sidebar-border: oklch(0.8078 0 0);
  --sidebar-ring: oklch(0.7058 0 0);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
  --font-mono: "Courier New", Courier, monospace;
  --radius: 0.625rem;
  --shadow-x: 6.5px;
  --shadow-y: 7.5px;
  --shadow-blur: 5px;
  --shadow-spread: -2px;
  --shadow-opacity: 1;
  --shadow-color: #000000;
  --shadow-2xs: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 0.50);
  --shadow-xs: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 0.50);
  --shadow-sm: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 1px 2px -3px hsl(0 0% 0% / 1.00);
  --shadow: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 1px 2px -3px hsl(0 0% 0% / 1.00);
  --shadow-md: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 2px 4px -3px hsl(0 0% 0% / 1.00);
  --shadow-lg: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 4px 6px -3px hsl(0 0% 0% / 1.00);
  --shadow-xl: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 8px 10px -3px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 2.50);
  --tracking-normal: 0.05em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.5999 0 0);
  --foreground: oklch(0.8945 0 0);
  --card: oklch(0.5208 0 0);
  --card-foreground: oklch(0.8945 0 0);
  --popover: oklch(0.3211 0 0);
  --popover-foreground: oklch(0.8945 0 0);
  --primary: oklch(0.1556 0.0017 17.3395);
  --primary-foreground: oklch(0.9690 0.0160 293.7560);
  --secondary: oklch(0.4460 0.0300 256.8020);
  --secondary-foreground: oklch(0.8078 0 0);
  --muted: oklch(0.3904 0 0);
  --muted-foreground: oklch(0.9687 0.0021 17.1955);
  --accent: oklch(0.9067 0 0);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.6137 0.2506 28.3725);
  --destructive-foreground: oklch(0.2891 0 0);
  --border: oklch(0.4276 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.8078 0 0);
  --chart-1: oklch(0.9521 0 0);
  --chart-2: oklch(0.8576 0 0);
  --chart-3: oklch(0.7572 0 0);
  --chart-4: oklch(0.6534 0 0);
  --chart-5: oklch(0.5452 0 0);
  --sidebar: oklch(0.2478 0 0);
  --sidebar-foreground: oklch(0.8945 0 0);
  --sidebar-primary: oklch(0.7572 0 0);
  --sidebar-primary-foreground: oklch(0.2478 0 0);
  --sidebar-accent: oklch(0.9067 0 0);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.4276 0 0);
  --sidebar-ring: oklch(0.8078 0 0);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 6.5px;
  --shadow-y: 7.5px;
  --shadow-blur: 5px;
  --shadow-spread: -2px;
  --shadow-opacity: 1;
  --shadow-color: #000000;
  --shadow-2xs: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 0.50);
  --shadow-xs: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 0.50);
  --shadow-sm: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 1px 2px -3px hsl(0 0% 0% / 1.00);
  --shadow: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 1px 2px -3px hsl(0 0% 0% / 1.00);
  --shadow-md: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 2px 4px -3px hsl(0 0% 0% / 1.00);
  --shadow-lg: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 4px 6px -3px hsl(0 0% 0% / 1.00);
  --shadow-xl: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 1.00), 6.5px 8px 10px -3px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 6.5px 7.5px 5px -2px hsl(0 0% 0% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    letter-spacing: var(--tracking-normal);
  }
}